# Rust
/target/

# Frontend
# /frontend/dist
/frontend/node_modules/
/frontend/.vite/
/frontend/coverage/
/frontend/*.tsbuildinfo
/frontend/.env.local
/frontend/dist/
# Common
.DS_Store

_gal/.report/
.run*

# AI
video-tool/
.serena/
.playwright-mcp
